.spotifyFreeBlock {
  background-color: #2941ab;
  background-image: url("./SpotifyFree.svg");
  background-repeat: no-repeat;
}
.spotifyFreeBlock article {
  display: flex;
  margin: 0 auto;
  width: 80%;
  min-height: 600px;
}
.spotifyFree-LeftBlock {
  flex-basis: 50%;
  color: #1ed760;
  margin: 123px 0;
}
.spotifyFree-LeftBlock h1 {
  font-size: 3.5em;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 40px;
}
.releses {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 37px;
  letter-spacing: 1.3px;
  line-height: 35px;
}
.btn a button {
  padding: 17px 48px;
  border-radius: 500px;
  border: none;
  background: #1ed760;
  color: #202f72;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-weight: bold;
  margin-bottom: 50px;
}
